
<div class="contenedorComprar">
<div class="izquierdaComprar">

</div>

  <div class="derechaComprar">


<p>
 <h3> Cyberpunk 2077 </h3>

 <h2> El juego incluye los siguientes artículos físicos:</h2>
    <div class="texto">
<ul>
 <li> >Estuche con discos de juego.

  <li> >Estuche con el código del juego y CD de la banda sonora. (PC)
  </ul>
      <ul>
        <li>  > Portada reversible

        <li> >Antología del mundo que detalla el escenario y la historia del juego.
      </ul>
      <ul>
        <li>  > Postales de Night City.

        <li>  > Mapa de Night City.

        <li> > Calcomanías.
      </ul>
    </div>
    <h2>Los artículos digitales incluyen: </h2>
    <div class="texto">

      <ul>
    <li>  >Banda sonora del juego.

        <li> >Cómic digital
        <li>>Cyberpunk 2077: Tu voz
        </ul>
      <ul>
    >Folleto de arte que incluye una selección del arte del juego.
      </ul>
      <ul>
        <li> >Manual de Cyberpunk 2020.

        <li> >Fondos de pantalla para escritorio y teléfono móvil.
        </ul>
    </div>
  <div class="comprar">
    <button class="cybr-btn">
      <a style="color: yellow" [routerLink]="[ '../comprar'] ">
        COMPRAR<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch">COMPRAR</span>
      </a>
    </button>



    <button class="cybr-btn">
      <a style="color: yellow" [routerLink]="[ '../home'] ">
        CANCELAR<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch">CANCELAR</span>
      </a>
    </button>




  </div>


  </div>
</div>
