<header>

  <img src="assets/logo.png" class="headerimg">
</header>

<div class="contenedor">
  <div class="izquierda">
    <div class="menu">


      <button class="botones"><a [routerLink]="[ '../home'] "> HOME </a></button>
      <button class="botones"><a [routerLink]="[ '../about'] "> ABOUT </a></button>
      <button class="botones"><a [routerLink]="[ '../characters'] ">CHARACTERS</a></button>

    </div>
    <div class="iconos">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>

  <div class="trailer">

    <iframe width="1460" height="715" src="https://www.youtube.com/embed/VhM3NRu23Sk?start=12" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

  </div>
</div>








