h1 {
  text-align: center;
  margin-right: 8em;

}

h2 {
  margin-top: 2em;

}

.about {
  color: black;
  padding-top: 3em;
  width: 80%;
  margin-left: 5%;
  height: 70vh;
  margin-top: 2em;
}

