<header>

  <img src="assets/Logo2.png" class="headerimg">
</header>

<div class="contenedor">
  <div class="izquierda">
    <div class="menu">


      <button class="botones"><a [routerLink]="[ '../home'] "> HOME </a></button>

      <button class="botones"><a [routerLink]="[ '../trailer'] ">TRAILER </a></button>
      <button class="botones"><a [routerLink]="[ '../characters'] ">CHARACTERS</a></button>

    </div>
    <div class="iconos">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>

  <div class="about">

    <h1>ABOUT</h1>
    <p>

    <h2> NIGHT CITY TE CAMBIARÁ </h2>

    Cyberpunk 2077 es una historia de acción y aventura en mundo abierto ambientada en Night City, una megalópolis
    obsesionada con el poder, el glamur y la modificación corporal.
    Tu personaje es V, un mercenario que persigue un implante único que permite alcanzar la inmortalidad.
    Podrás personalizar las mejoras cibernéticas, las habilidades y el estilo de juego del personaje para dar forma a un
    mundo y a una historia que depende de tus decisiones.


    <h2>DESCUBRE LA CIUDAD DEL FUTURO</h2>

    Sumérgete en el inmenso mundo abierto de Night City, una ciudad que establece una nueva referencia en calidad
    visual, complejidad y profundidad.
    Recorre una ciudad única e inusual, explora zonas de guerra atestadas de bandas, comercia en el bullicioso centro y
    asalta refugios corporativos.
    Haz tratos con fixers ruines, famosos desesperados e inteligencias artificiales rebeldes; todos ellos luchan también
    con uñas y dientes por triunfar en Night City.
    Toma decisiones en tu viaje y observa cómo la historia cambia en base a tus acciones.

    <h2>ROBA EL IMPLANTE QUE CONCEDE LA VIDA ETERNA</h2>

    Acepta el trabajo más peligroso de tu vida y ve en busca del prototipo que permite acceder a la inmortalidad.
    Esfuérzate al máximo para conseguir el implante más valioso de Night City, un chip prototipo que puede hacerte vivir
    para siempre.
    Enfréntate a líderes corporativos, estafadores de los bajos fondos y a los más temidos habitantes de Night City, que
    harán todo lo posible por conseguir el prototipo.


  </div>
</div>







